<?xml version='1.0' encoding='utf-8'?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.goxome.mediacore">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" 
        android:name="com.goxome.mediacore.Application"
        android:resizeableActivity="true">

        <activity
            android:name="com.goxome.mediacore.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
         <activity 
            android:name="com.goxome.mediacore.DebugActivity" >
            </activity>
        <meta-data
          android:name="android.max_aspect"
          android:value="4.0"/>
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape"/>
        <meta-data
            android:name="android.notch_support"
            android:value="true"/>
    </application>

</manifest>
